
.header-container {
    .header-text {
        border: 1px solid green;
    }

    .links {
        position: absolute;
        right: 0;

        .header-links {
            float: right;
            color: green;
            margin: 0 5px;
            
            &:lastchild {
                margin-right: 0;
            }
        }    
    }
}